.welcome-page__container {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}

.welcome-page-post-container {
  padding-bottom: 20px;
}
