.blog-post-page__loader {
    display: none;
}

.blog-post-page__image-header {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
    }
}