label {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}

h1 {
  margin-bottom: 20px;
}

.edit-page__container {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-page__form-conatiner {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3%;
}

.edit-page__profile-picture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin-bottom: 20px;
}

.edit-page__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
}

.edit-page__bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 30px;
}

.edit-page__buttons {
  width: 250px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.edit-page__image-uploader {
  border: 3px solid #01966e36;
  background-color: #01966e36;
  filter: brightness(1.2);
  width: 197px;
  height: 197px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
}

.edit-page__image-uploader input {
  opacity: 0;
  width: 197px;
  height: 197px;
  cursor: pointer;
  position: absolute;
}

.edit-page__image-uploader-remove {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-page__image-uploader-remove:hover {
  filter: brightness(0);
}

.edit-page__close-icon {
  width: 60px;
  height: 60px;
  position: absolute;
}
