@import "../../../theme/theme";

.blog-post-page__container {
    padding-top: $content-menu-height;
}

.blog-post-page__loader {
    display: none;
}

.blog-post-page__image-header {
    width: 100%;
    height: 650px;
    background-size: cover;
    background-position: center;
}

.blog-post-page__title-container {
    width: 100%;
    padding: 40px 0px 75px 0px;
    box-sizing: border-box;
    background: linear-gradient(
        rgba($color: $color-primary, $alpha: 1), 
        rgba($color: $color-primary, $alpha: 0.0)
    );
    color: $color-on-primary;
    text-align: center;
}

.blog-post-page__title {
    margin: 0;
    padding: 0;
    font-size: 40px;
    font-style: italic;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.blog-post-page__text-content-container {
    padding-top: 40px;
    padding-bottom: 50px;
}

.blog-post-page__meta-data-container {
    margin-top: -35px;
}

.blog-post-page__meta-data__cards {
    display: flex;
    gap: 20px;
}